$doom3-000: #f14141;
$doom3-100: #f53a3a;
$doom3-200: #e72828;
$doom3-300: #dd1010;

$prey06-000: #7ef3f7;
$prey06-100: #67f4f9;
$prey06-200: #4edfe9;
$prey06-300: #2cbadd;

$quake4-000: #eff77e;
$quake4-100: #f9ef67;
$quake4-200: #e9df4e;
$quake4-300: #ece930;

$wolf09-000: #f7a47e;
$wolf09-100: #f9a167;
$wolf09-200: #e97f4e;
$wolf09-300: #ec7b30;